* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 12;
    font-family: Arial, sans-serif;
  }

  nav ul li {
    display: inline;
    margin: 5px;
    font-size: 14px;
    cursor:pointer;
    
  }

  .textlink:hover {
    text-decoration: underline;
  }
  .textlink1:hover {
    text-decoration: underline;
  }
  .button.blue:hover {
    text-decoration: underline;
  }

  nav {
    text-align: right;
    margin-top: 25px;
  }
  
  .button.blue {
    background-color: #4D90FE;
    background-image:linear-gradient(top, #4d90fe, #4787ed);
    padding: 8px;
    border: 1px solid #3079ED;
    color: white;
  }
  .button.blue:hover {
    border: 1px solid #2F5BB7;
    background-color: #357AE8;
    background-image:linear-gradient(top, #4d90fe, #357ae8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

#central {
    width: 680px;
    margin: 85px auto 0;
    text-align: center;
}

input[type='text'] {
    width: 575px;
    height: 30px;
    margin: 30px;
    display:block;
  }

input [type='submit'] {
    margin: 5px 3px;
    height: 35px;
    width: 120px;
    color: #5c5c5c;
    border: none;
    background-color: #f2f2f2;
    font-weight: bold;
}
input[type='submit']:hover {
    color: black;
    border: 1px solid #c6c6c6;
    background-color: #f8f8f8;
    cursor:pointer;
}

footer ul li {
    display: inline;
    color: #c6c6c6;
    margin: 10px;
  }
  
  .left:hover,
  .right:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #c6c6c6;
    font-size: 12px;
    height: 40px;
  }
  
  .left {
    float: left;
    margin: 15px;
    color:black;
    cursor:pointer;
  }
  
  .right {
    float: right;
    margin: 15px;
    color:black;
    cursor:pointer;
  }


